.Technologies {

  h1{
    color: var(--white);
    font-weight: 700;
    font-size: 60px;
  }

  .boxes {
    .box{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .technology {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          font-size: 32px;
          color: var(--white);
          margin: 20px;
        }
      }
    }
  }
}