.Bio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin-top: 30px;
  background: var(--purple);

  .box {
    background: var(--black);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 25px 20px 0;

    .principal {
      display: flex;
      align-items: center;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
  
    :where(h1, p) {
      color: var(--white);
      font-weight: 700;
    }
  
    h1 {
      font-size: 32px;
    }
  }

  .social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media(max-width: 767px){
  .Bio{
    margin: 0;
  }
}