* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #202020;
  --white: #fff;
  --black: #181818;
  --purple: #393ced;
}

body {
  font-family: 'Nunito', sans-serif;
  background: var(--background);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 10px;
}