.About {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px;
  background: var(--background);

   :where(h1, p){
    color: var(--white);
    font-weight: 700;
    margin: 20px 0;
  }

  img {
    width: 300px;
    height: 300px;
    border-radius: 100%;
  }

  h1 {
    font-size: 60px;
  }

  .info {
    width: 500px;
    max-width: 90%;
  }
  .contacts {
    display: flex;
    flex-direction: column;

    strong {
      color: var(--white);
      font-size: 24px;
      margin-top: 20px;
    }

    :where(.mail, .phone){
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      a{
        color: var(--white);
        text-decoration: none;
      }
    }
  }
}