.card {
  display: flex;
  align-items: center;
  justify-content: space-around;;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--black);
  width: 400px;
  max-width: 100%;
  border-radius: 8px;
  margin-top: 70px;

  :where(strong, p){
    color: var(--white);
    padding: 20px;
  }

  img {
    width: 400px;
    max-width: 100%;
    border-radius: 8px;
  }

  a {
    color: var(--white);
    background: var(--green);
    padding: 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 8px;
  }
}